*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 35, 35);
    color: #fff;
    margin: 12px;
}


.body{
    display: flex;
    .Content{
        // background-color: blueviolet;
        width: 100vw;
        margin: 12px;
    }
}